#magnetic-area {
                width: 960px;
                height: 700px;
                border: solid 1px #989898;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .word {
                padding: 5px;
                border: solid 1px #bababa;
                position: absolute;
                float: left;
                cursor: move;
                font-family: Arial;
                text-shadow: 1px 1px 0px #ffffff;
                color: #333333;

                background-image: linear-gradient(bottom, rgb(199,199,199) 9%, rgb(235,235,235) 44%);
                background-image: -o-linear-gradient(bottom, rgb(199,199,199) 9%, rgb(235,235,235) 44%);
                background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 9%, rgb(235,235,235) 44%);
                background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 9%, rgb(235,235,235) 44%);
                background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 9%, rgb(235,235,235) 44%);

                background-image: -webkit-gradient(
	                linear,
	                left bottom,
	                left top,
	                color-stop(0.09, rgb(199,199,199)),
	                color-stop(0.44, rgb(235,235,235))
                );
            }
            
            .occupied {
                background-image: linear-gradient(bottom, rgb(159,227,252) 9%, rgb(237,245,252) 44%);
                background-image: -o-linear-gradient(bottom, rgb(159,227,252) 9%, rgb(237,245,252) 44%);
                background-image: -moz-linear-gradient(bottom, rgb(159,227,252) 9%, rgb(237,245,252) 44%);
                background-image: -webkit-linear-gradient(bottom, rgb(159,227,252) 9%, rgb(237,245,252) 44%);
                background-image: -ms-linear-gradient(bottom, rgb(159,227,252) 9%, rgb(237,245,252) 44%);

                background-image: -webkit-gradient(
	                linear,
	                left bottom,
	                left top,
	                color-stop(0.09, rgb(159,227,252)),
	                color-stop(0.44, rgb(237,245,252))
                );
                cursor: none;
            }